body{
    background: #456789;
    color: white;
    margin: 0;
}

#ejercicios2{
    margin: 200px auto;
    text-align: center;
}

#ejercicios2 h1{
    font-family: 'Vollkorn', serif;
    font-size: 60px;
}

#ejercicios2 p{
    display: block;
    width: 100%;
    background: white;
    padding: 75px 0;
    font-size: 25px;
}

#ejercicios2 p.rojo{
    background: red;
}

#ejercicios2 p.verde{
    background: green;
}
